footer {
	display: none;
}

#sameLine {
	display:inline;
	font-size: 20px;
}

#updown {
	display: inline;
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
}

#curStock {
	display:inline;
	font-size: 25px;
}

#chartContainer {
	height:100%;
	width: 100%;
}

#perc {
	display:inline;
	font-size: 18px;
	color: purple;
}

body {
	border-width: medium;
	border-style: outset;
    border-width: 20px 20px 20px 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-color: green;
}

img {
	width: 30px;
	height: 30px;
}

input {
	display: inline-block;
}

#newLine {
	display: block;
}

#perc {
	padding-right: 50px;
}

@media only screen and (min-width: 1150px) {
    footer {
		position:fixed;
		bottom:0;
		right:0;
		padding-bottom: 10px;
		padding-right: 10px;
		display: inline;
    }
}